* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #329ad7;
}

header {
	background: white;
	padding: 20px;
	box-shadow: 10px 10px 10px black;
}

header>h1 {
	color: black;
	text-align: center;
	box-shadow: inset;
}

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 4px;
	text-align: center;
	padding: 15px, 20px;
	font-size: 45px;
	width: 200px;
	color: white;
	position: relative;
}

.badge {
	background: #60360D;
	font-size: 20px;
}

#user-label {
	position: absolute;
	top: 13px;
	left: -20px;
	/*	border-radius: 20px;*/
}

#computer-label {
	position: absolute;
	top: 13px;
	left: 170px;
	/*	border-radius: 20px;*/
}

.result {
	font-size: 40px;
	color: white;
}

.result>p {
	text-align: center;
	font-weight: bold;
	color: red;
}

.choices {
	text-align: center;
	margin: 50px 0px;
}

.choice {
	border: 4px solid white;
	border-radius: 100%;
	padding: 10px;
	margin: 0px 20px;
	display: inline-block;

}

.choice:hover {
	cursor: pointer;
	border: 4px solid green;
}

#action-message {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 30px;

}