
form {
    position: absolute;
    top: 100px;
    width: 50%;
    left: 25%;
 padding:10px;
 width:280px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #edb879;
border-radius: 13px;
background: linear-gradient(145deg, #3b5d4d, #476e5b);
box-shadow:  2px 2px 34px #263c31, 
             -2px -2px 34px #5e9279;
 }
legend {
 color:#edb879;
 font-weight:bold
 }
p{
    color: white;
}
label {
 margin-top:10px;
 display:block;
    color: white;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }